@page "/warehouses"
@rendermode InteractiveServer


<StandardListButtons
    MenuName="Warehouses"
    NewInvoked="NewWarehouse"
    ExportInvoked="ExportToExcel">    
</StandardListButtons>

<div class="row">
    <div class="col-2">
        <SearchWidget></SearchWidget>
    </div>
    <div class="col-10">
        <Toast></Toast>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Street1</th>
                    <th>Postcode</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _warehouses)
                {
                    <tr>
                        <td><input type="checkbox" class="listPage_checkBox"></td>
                        <td><a href="/warehouseedit/@item.Id">@item.Id</a></td>
                        <td>@item.Name</td>
                        <td>@item.Street1</td>
                        <td>@item.Postcode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

