@if (_model != null)
{
    <span><button @onclick="Back" class="backicon bi bi-arrow-left" aria-label="Back"></button> Country Card - </span>
    @if (string.IsNullOrEmpty(_model.Name))
    {
        <span>New</span>
    }
    else
    {
        @_model.Name
    }
    <StandardCRUDButtons SaveInvoked="ValidateAndSave"
            CancelInvoked="OnCancel"
            NewInvoked="OnNew"
            DeleteInvoked="OpenConfirmDialog">
    </StandardCRUDButtons>
}
@if (_model != null)
{
    <div class="h4 pt-2">General</div>
    <div class="card-body border-3 border-top">
            <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="FormEdit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-floating mb-3 mt-3">
                <InputText class="form-control" @bind-Value="_model!.Code" id="countryCode" aria-label="Country Code - Disabled" />
                <label for="countryCode">Code</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <InputText class="form-control" @bind-Value="_model!.Name" id="countryName" />
                <label for="countryName">Name</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <InputText class="form-control" @bind-Value="_model!.ISOCode2" id="isoCode2" />
                <label for="isoCode2">ISO Code 2</label>
            </div>
        </EditForm>
    </div>
}
