@page "/searchwidget"
@rendermode InteractiveServer
<div >
    <div class="row">

    @foreach (var item in searchModel)
    {
        <div class="col-md-2">
            <div class="row">
            <InputSelect id="category" @bind-Value="item.FieldName" class="filter-control">
                <option value="0">
                    Select Field
                </option>
                @foreach (string field in fieldNames)
                {
                    <option value="@field">
                        @field.ToString()
                    </option>
                }
            </InputSelect>
            </div>
            <div class="row">
            <InputText @bind-Value="item.Value"  class="filter-control" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                    @item.Connector
                </div>
            <div class="row">
                <button class="btn bi bi-trash p-2" @onclick="() => RemoveItem(item)"></button>
            </div>
        </div>
    }
    </div>
</div>
<button onclick="@AddItem">Add</button>

