@page "/searchwidget"
@rendermode InteractiveServer
<div >
    <span>Filter List By :</span>
    @foreach (var item in searchModel)
    {
        <div class="row pb-1">
            @if(@item.FieldSelected != true)
            {
                <select id="select-@item.Id" @onchange="SetFieldName" class="form-control">
                    @foreach (string field in fieldNames)
                    {
                        <option value="@item.Id|@field">
                            @field.ToString()
                        </option>
                    }
                </select>
            }
            else
            {
                <span><button class="btn bi bi-trash pe-2" @onclick="() => RemoveItem(item)"></button> @item.FieldName</span>
                <div class="row pb-2">
                    <InputText @bind-Value="item.Value" class="form-control" />
                </div>
            }
        </div>
    }
</div>
<button class="btn" @onclick="ClearFilter">Clear Filter</button>

