@page "/searchwidget"
@* @rendermode InteractiveServer *@
<span>Filter List By :</span>
<div class="border-bottom">
    @foreach (var item in searchModel)
    {
        <div class="pb-1">
            @if(@item.FieldSelected != true)
            {
                <select id="select-@item.Id" @onchange="SetFieldName" class="form-control">
                    @foreach (var field in lookupValues)
                    {
                        <option value="@item.Id|@field.Item1">
                            @field.Item2.ToString()
                        </option>
                    }
                </select>
            }
            else
            {
                <span><button class="btn bi bi-trash pe-2" @onclick="() => RemoveItem(item)"></button> @item.FieldName</span>
                <InputText @bind-Value="item.Value" class="form-control pb-2" autocomplete='off' />
            }
        </div>
    }
    @if(AddFilterVisible == true)
    {
        <button class="btn btn-link" @onclick="AddFilter">+ Add Filter..</button>
    }
</div>
<button class="btn btn-link" @onclick="ApplyFilter">Apply Filter(s)</button>
<button class="btn btn-link" @onclick="ClearFilter">Clear Filter(s)</button>

