<div>
    <nav class="navbar navbar-expand" aria-label="Main Toolbar">
        <div class="container-fluid border-bottom border-top">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#countryToolbar" aria-controls="countryToolbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="ListPageToolbar">
                <span class="pe-3 h4">@MenuName </span>
                <ul class="navbar-nav me-auto pr-1">
                    <InputText @bind-Value="_searchText" class="search-bar" placeholder="Search" />
                    <li class="nav-item">
                        <button class="btn bi bi-search" @onclick="HandleSearch"> Search</button>
                    </li>
                    <li class="nav-item" @onclick="HandleNew">
                        <button class="btn bi bi-plus" > New</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn bi bi-x-square" @onclick="HandleDelete"> Delete</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn bi bi-arrow-clockwise" @onclick="HandleRefresh"> Refresh</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn bi bi-filetype-xls" @onclick="HandleExport"> Export</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>