<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Phoenix.WebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="sidebar flex-column">
		<ul class="nav flex-column" id="nav_accordion">
			<li class="nav-item">
				<a class="nav-link" href="#"> Link name </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Submenu links <i class="bi small bi-caret-down-fill"></i> </a>
				<ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
					<li><a class="nav-link" href="#">Submenu item 1 </a></li>
					<li><a class="nav-link" href="#">Submenu item 2 </a></li>
					<li><a class="nav-link" href="#">Submenu item 3 </a> </li>
				</ul>

			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> More menus <i class="bi small bi-caret-down-fill"></i> </a>
				<ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
					<li><a class="nav-link" href="#">Submenu item 4 </a></li>
					<li><a class="nav-link" href="#">Submenu item 5 </a></li>
					<li><a class="nav-link" href="#">Submenu item 6 </a></li>
					<li><a class="nav-link" href="#">Submenu item 6 </a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Another page </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Demo link </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Menu item </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Something </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Other link </a>
			</li>
		</ul>
	</nav>
@*     <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="country">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Countries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="warehouse">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Warehouses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salesorder">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sales Orders
            </NavLink>
        </div>


    </nav> *@
</div>

